<div class='navbar navbar-default' id='navbar'>
    <a class='navbar-brand' href='#'>
      <i class='icon-beer'></i>
      选课系统 - 管理员面板
    </a>
    <ul class='nav navbar-nav pull-right'>
      <li>
        <a href='#'>
          <i class='icon-cog'></i>
          设置
        </a>
      </li>
      <li class='dropdown user'>
        <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
          <i class='icon-user'></i>
          <strong>当前用户 - 小明</strong>
          <b class='caret'></b>
        </a>
        <ul class='dropdown-menu'>
          <li>
            <a href='#'>重置密码</a>
          </li>
          <li class='divider'></li>
          <li>
            <a href="/">退出登录</a>
          </li>
        </ul>
      </li>
    </ul>
</div>