<!DOCTYPE html>
<html class='no-js' lang='en'>

<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <title>选课系统</title>
  <meta content='lab2023' name='author'>
  <meta content='' name='description'>
  <meta content='' name='keywords'>
  <link href="/assets/stylesheets/application-a07755f5.css" rel="stylesheet" type="text/css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

</head>
<style>

  .form-group .input-group{
      margin: 10px 0;
    }
  </style>

<body class='main page'>
  <% include common/header.ejs %>
  <div id='wrapper'>
    <!-- Sidebar -->
    <% include common/sidebar.ejs %>
    <!-- Tools -->
    <section id='tools'>
      <ul class='breadcrumb' id='breadcrumb'>
        <li><a href="/admin/students">学生清单</a></li>
        <li><a href="/admin/students/import">导入学生</a></li>
        <li class='title'>添加学生</li>
      </ul>
    </section>
    <!-- Content -->
    <div id='content'>
      <div class='panel panel-default grid'>
        <div class='panel-heading'>
          <i class='icon-table icon-large'></i>
          添加学生
        </div>
        <div class='panel-body filters'>
          <div class="form-group">
            <div class="col-lg-4">
              <div class="input-group">
                <span class="input-group-addon">学号</span>
                <input type="text" id="user_sid" class="form-control" checkVaild placeholder="请输入学号" aria-describedby="basic-addon1">
              </div>
              <div class="input-group">
                <span class="input-group-addon">姓名</span>
                <input type="text" id="user_name" class="form-control" checkVaild placeholder="请输入姓名" aria-describedby="basic-addon1">
              </div>
              <div class="input-group">
                <span class="input-group-addon">性别</span>
                <input type="text" id="user_sex" class="form-control" checkVaild placeholder="请输入性别" aria-describedby="basic-addon1">
              </div>
              <div class="input-group">
                <span class="input-group-addon">年级</span>
                <select class="form-control" id="user_grade">
                  <option value="初一">初一</option>
                  <option value="初二">初二</option>
                  <option value="初三">初三</option>
                  <option value="高一">高一</option>
                  <option value="高二">高二</option>
                  <option value="高三">高三</option>
                </select>
              </div>
              <div class="input-group">
                <span class="input-group-addon">密码</span>
                <input type="text" id="user_pass" class="form-control" checkVaild placeholder="请输入密码" aria-describedby="basic-addon1">
              </div>
            </div>
          </div>

        </div>
        <div class='panel-footer'>
          <button type="button" class="btn btn-default btn-cz">重置</button>
          <button type="button" class="btn btn-primary btn-sure" disabled>确定</button>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="https://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script>
    // 设置一个不合法的对象
    var invaild = {
      sid: true,
      name: true,
      sex: true,
      password: true,
    }

    // 设置提示框操作
    $.fn.extend({
      danger: function (text) {
        return this.parent().after(
          "<div class='alert alert-danger' role='alert' style='padding: 5px 15px;margin-bottom: 10px;'>" + text +
          "</div>")
      },
      success: function (text) {
        return this.parent().after(
          "<div class='alert alert-success' role='alert' style='padding: 5px 15px;margin-bottom: 10px;'>" +
          text + "</div>")
      },
      clearTip: function () {
        return this.parent().next('.alert').remove()
      }
    })

    // 定义正则表达式
    var regSid = /^[\d]{9}$/,
      regName = /^[\u4E00-\u9FA5\uf900-\ufa2d·s]{2,20}$/,
      regPass = /^[0-9a-zA-Z]{6}$/,
      regSex=/^(男|女)$/;

    // 当学号失去焦点以后，
    $('#user_sid').blur(function () {
      var _sid = $(this).val();
      // 判断
      if (regSid.test(_sid)) {
        // 如果是合法的
        invaild.sid = false;
        $(this).success('正确')
      } else {
        // 不合法的
        invaild.sid = true;
        $(this).danger('学号应该是9位数字')
      }
    })
    // 校验姓名是否正确
    $('#user_name').blur(function () {
      var _name = $(this).val();
      // 判断
      if (regName.test(_name)) {
        // 如果是合法的
        invaild.name = false;
        $(this).success('正确')
      } else {
        // 不合法的
        invaild.name = true;
        $(this).danger('请输入正确的姓名表达式')
      }
    })
     // 性别验证
    $('#user_sex').blur(function(){
      var _sex = $(this).val();
      // 判断
      if (regSex.test(_sex)) {
        // 如果是合法的
        invaild.sex = false;
        $(this).success('正确')
      } else {
        // 不合法的
        invaild.sex = true;
        $(this).danger('请输入正确的性别')
      }
    })
    // 密码验证
    $('#user_pass').blur( function(){
      var _password = $(this).val();
      if(regPass.test(_password)){
        invaild.password = false;
        $(this).success('正确')
      }else{
         // 不合法的
         invaild.password = true;
        $(this).danger('密码格式为6位长度的字符')
      }
    })

    // 在获取焦点的时候移除
    $('[checkVaild]').focus(function () {
      $(this).clearTip()
    })
    // 判断当前状态是否可以提交
    $('[checkVaild]').blur(() => {
      var allCheck = true; // 定义一个变量表示当前的数据时完成的

            console.log(invaild)
      for (var k in invaild) {
        if (invaild[k]) {
          allCheck = false;
          break;
        }
      }
      if (allCheck) {
        $('.btn-sure').attr('disabled', false)
      } else {
        $('.btn-sure').attr('disabled', true)
      }
    })

    // 重置
    function clearDIVBtn(){
      $('input[type="text"]').val('')
      $('[checkVaild]').clearTip()
    }
    $('.btn-cz').click(() => {
      clearDIVBtn()
    });

    $('.btn-sure').click(function () {
      // 获取当前数据的信息
      var sid = $('#user_sid').val();
      var name = $('#user_name').val();
      var sex = $('#user_sex').val();
      var grade = $('#user_grade').val();
      var password = $('#user_pass').val();

      // 发送请求
      $.post('/students', {
        sid: sid,
        name: name,
        grade: grade,
        sex: sex,
        password: password
      }, (res) => {
        if (res.code == 200) {
          clearDIVBtn()
        }
        alert(res.msg)
      })
    })
  </script>
</body>

</html>