<!DOCTYPE html>
<html class='no-js' lang='en'>

<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <title>选课系统</title>
  <meta content='lab2023' name='author'>
  <meta content='' name='description'>
  <meta content='' name='keywords'>
  <link href="/assets/stylesheets/application-a07755f5.css" rel="stylesheet" type="text/css" />
  <link href="/assets/stylesheets/ui.jqgrid.css" rel="stylesheet" type="text/css" />
  <link href="/assets/stylesheets/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
</head>

<body class='main page'>
  <% include common/header.ejs %>
  <div id='wrapper'>
    <!-- Sidebar -->
    <% include common/sidebar.ejs %>
    <!-- Tools -->
    <section id='tools'>
      <ul class='breadcrumb' id='breadcrumb'>
        <li class='title'>学生清单</li>
        <li><a href="/admin/students/import">导入学生</a></li>
        <li><a href="/admin/students/info">生成学生</a></li>
      </ul>
    </section>
    <!-- Content -->
    <div id='content'>
      <div class='panel panel-default grid'>
        <div class='panel-heading'>
          <i class='icon-table icon-large'></i>
          学生清单
        </div>

        <div class="panpel-tool">
          <table id="list"></table> 
        </div>
        <div class="panel-body">
          <div id="pager"></div>
          <table class='table'>
              <thead>
                <tr>
                  <th>学号</th>
                  <th>姓名</th>
                  <th>性别</th>
                  <th>班级</th>
                  <th class='actions'>
                    操作
                  </th>
                </tr>
              </thead>
              <tbody class="tbody">
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td class='action'>
                    <a class='btn btn-success' data-toggle='tooltip' href='javascript:;' title='Zoom'>
                      <i class='icon-zoom-in'></i>
                    </a>
                    <a class='btn btn-info' href='#'>
                      <i class='icon-edit'></i>
                    </a>
                    <a class='btn btn-danger' href='#' data-sid="sid">
                      <i class='icon-trash'></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class='panel-footer'>
                <ul class='pagination pagination-sm'>
                  <li>
                    <a href='#'>«</a>
                  </li>
                  <li class='active'>
                    <a href='#'>1</a>
                  </li>
                  <li>
                    <a href='#'>2</a>
                  </li>
                  <li>
                    <a href='#'>3</a>
                  </li>
                  <li>
                    <a href='#'>4</a>
                  </li>
                  <li>
                    <a href='#'>5</a>
                  </li>
                  <li>
                    <a href='#'>6</a>
                  </li>
                  <li>
                    <a href='#'>7</a>
                  </li>
                  <li>
                    <a href='#'>8</a>
                  </li>
                  <li>
                    <a href='#'>»</a>
                  </li>
                </ul>
                <div class='pull-right'>
                  当前页数 1 总页数10 共 32 条
                </div>
              </div>
        </div>

      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="https://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/jquery.jqGrid.src.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    // 定义数组
    var gradeArr = ['初一','初二','初三','高一','高二','高三'];
    // 定义变量
    var page = 1,
        pageSize = 20;
    $.get({url:'/students?page='+page+'&pageSize='+pageSize},function(res){
        if( res.code == 200 ){
          var data = res.results;
          var total = data.length;
          var html = '';          
          for( var i = 0; i< data.length ; i++){
            html += `   <tr>
                  <td>${data[i].sid}</td>
                  <td>${data[i].name}</td>
                  <td>${data[i].sex}</td>
                  <td>${gradeArr[data[i].grade-1]}</td>
                  <td class='action'>
                    <a class='btn btn-success' data-toggle='tooltip' href='javascript:;' title='Zoom'>
                      <i class='icon-zoom-in'></i>
                    </a>
                    <a class='btn btn-info' href='#'>
                      <i class='icon-edit'></i>
                    </a>
                    <a class='btn btn-danger' href='#' data-sid="sid">
                      <i class='icon-trash'></i>
                    </a>
                  </td>
                </tr>`
          }
          $('.tbody').append(html)
        }else{
          alert(res.msg)
        }
      
    })
    
    // 点击编辑

    // 点击查看

    // 点击删除
    $('.btn-danger').on('click',function(e){
      if (!confirm('当前数据将无法恢复，确定删除吗？')) {
        return false;
      }else{
        console.log($(this).data('sid'))
      }
      
    })

  </script>
</body>

</html>