<!DOCTYPE html>
<html class='no-js' lang='en'>

<head>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <title>学生管理系统</title>
  <meta content='lab2023' name='author'>
  <meta content='' name='description'>
  <meta content='' name='keywords'>
  <link href="/assets/stylesheets/application-a07755f5.css" rel="stylesheet" type="text/css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/assets/stylesheets/pagecommon.css">

</head>

<body class='main page'>
  <% include common/header.ejs %>
  <div id='wrapper'>
    <!-- Sidebar -->
    <section id='sidebar'>
      <i class='icon-align-justify icon-large' id='toggle'></i>
      <ul id='dock'>
        <li class='launcher active'>
          <i class='icon-dashboard'></i>
          <a href="javascript:;">课程列表</a>
        </li>
        <!-- <li class='launcher'>
          <i class='icon-file-text-alt'></i>
          <a href="forms.html">学生管理</a>
        </li>
        <li class=' launcher'>
          <i class='icon-table'></i>
          <a href="tables.html">课程管理</a>
        </li>
        <li class='launcher dropdown hover'>
          <i class='icon-flag'></i>
          <a href='#'>报表</a>
        </li> -->
      </ul>
      <div data-toggle='tooltip' id='beaker' title='Made by lab2023'></div>
    </section>
    <!-- Tools -->
    <section id='tools'>
      <ul class='breadcrumb' id='breadcrumb'>
        <li class='title'>课程列表</li>
        <!-- <li><a href="#">Lorem</a></li>
        <li class='active'><a href="#">ipsum</a></li> -->
      </ul>
    </section>
    <!-- Content -->
    <div id='content'>
      <div class='panel panel-default grid'>
        <div class='panel-heading'>
          <i class='icon-table icon-large'></i>
          课程列表
        </div>
        <div class='panel-body filters'>
          <table class='table'>
            <thead>
              <tr>
                <th style="width:55px">编号</th>
                <th width="10%">名称</th>
                <th width="5%">日期</th>
                <th width="5%">人数</th>
                <th width="15%">年级</th>
                <th width="10%">教师</th>
                <th width="40%">简介</th>
                <th>报名</th>
              </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
          </table>
        </div>

        <div class='panel-footer' style="min-height: 66px;">
          <div id="pagenavbox"></div>
        </div>
      </div>
    </div>
  </div>



  <!-- Bootstrap Core JavaScript -->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/PageNav.js"></script>

  <script>
    // 定义变量
    var page = 1,
      pageSize = 20;
    var flag = true; // 开关，判断是否需要开启回调
    var total, size; // 总数和当前共多少页
    var Newpage = 1; //当前选中的页数
    var keyword = ''; // 定义输入查询
    // 定义接口地址
    var url = '/course?page=' + page + '&pageSize=' + pageSize;
    (function load() {
      $.get(url, function (res) {
        var data = res.results
        $.each(data, function (i) {
          var $tr = $('<tr></tr>'); // 
          $tr.append('<td>' + data[i].cid + '</td>');
          $tr.append('<td>' + data[i].name + '</td>')
          $tr.append('<td>' + data[i].dayofweek + '</td>')
          $tr.append('<td>' + data[i].number + '</td>')
          $tr.append('<td>' + data[i].allow + '</td>')
          $tr.append('<td>' + data[i].teacher + '</td>')
          $tr.append('<td>' + data[i].briefintro + '</td>')
          $tr.append('<td><button type="button" class="btn btn-success">报名</button></td>')
          $('.tbody').append($tr);
        })


        if (flag) {
          // 只需要加载一次，就是刚加入的时候
          pageShow(res)
        }
      })
    })();

    // 定义函数 -- 分页
    function pageShow(res) {
      new PageNav({
        boxid: 'pagenavbox', // 当前元素的id
        page: page, // 当前页数
        pageAmount: res.size, //总页数 
        change: (num) => {
          flag = false;
          Newpage = num
          load(num) // 这个是ajax请求
        }
      })

      // 判断当前上一页下一页的状态
      if (page == 1) {
        $('#pagenavbox a:first-child').addClass('disBtn')
        if (res.size == 1) {
          $('#pagenavbox a:last-child').addClass('disBtn')
        } else {
          $('#pagenavbox a:last-child').removeClass('disBtn')
        }

      } else {
        if (page == res.size) {
          $('#pagenavbox a:first-child').removeClass('disBtn')
          $('#pagenavbox a:last-child').addClass('disBtn')
        } else {
          $('#pagenavbox a:first-child').removeClass('disBtn')
          $('#pagenavbox a:last-child').removeClass('disBtn')
        }
      }
    }
    //判断当前是否可以执行
    $.get('check',function(res){
      console.log(res)
    })
  </script>
</body>

</html>